<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <h3>Se cargó producto con éxito.</h3>

    <form method="get" action="/">
        <button type="submit" class="btn btn-primary">Volver al Formulario</button>
    </form>
</body>
</html>




