<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <h2>Formulario </h2>

  <form action="/productos" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="Nombre">
    </div>
    <div class="form-group">
      <label>Precio</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="Precio">
    </div>
    <div class="form-group">
      <label>Thumbnail url</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <form method="get" action="/productos">
      <button type="submit" class="btn btn-outline-primary">Ver Productos Cargados</button>
  </form>
</body>
</html>


