<h2>Formulario </h2>
<form action="/productos" method="post">
  <label for="fname">Nombre</label><br>
  <input type="text" id="fname" name="Nombre"><br>
  <label for="lname">Precio</label><br>
  <input type="text" id="lname" name="Precio"><br>
    <label for="lname">URL</label><br>
  <input type="text" id="lname" name="url"><br><br>
  <input type="submit" value="Submit">
</form>

<form method="get" action="/productos">
    <button type="submit" class="button">Ver Productos Cargados</button>
</form>
